language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

  licenses:
    - 'android-sdk-license-.+'
    - 'android-sdk-preview-license-.+'
