<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sensingkit.sensingkitlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application android:allowBackup="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:name=".sensors.SKActivityRecognitionIntentService" />

    </application>

</manifest>
