<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sensingkit.sensingkitlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true">

    </application>

</manifest>
